{% extends 'base.html' %}


{% block content %}
<h1>Eres: {{name}} con ID: {{_id}} y tu mail {{mail}}</h1>
<h2>{{estado}}</h2>
<!-- Character preview Template -->
<div class="chtulhu-preview" id="chtulhu-preview">
	
	<input data-bind="value : singlebookTest">
	<p data-bind="text : singlebookTest"></p>


	<ul data-bind="foreach : books">
		<input data-bind="value: $data">
		<li data-bind="text: $data"></li>
	</ul>
	<ul data-bind="foreach : items">
		<li data-bind="text : $data.name"></li>
	</ul>
	<ul data-bind="foreach : languages">
		<li data-bind="text : $data"></li>
	</ul>
	<ul data-bind="foreach : professions">
		<li data-bind="text : $data.name"></li>
	</ul>
	<ul data-bind="foreach : skills">
		<li data-bind="text : $data"></li>
	</ul>
	<ul data-bind="foreach : spells">
		<li data-bind="text : $data.name "></li>
	</ul>
</div>	
{% endblock %}

